.cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.header {
  position: sticky;
  top: 0;
  background-color: white;
  border-bottom: 1px solid gray;
}
.card {
  width: 150px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
  margin: 20px;
  transition: transform 0.2s;
  cursor: pointer;
}
.card-image {
  width: 120px;
  overflow: hidden;
  padding-bottom: 20px;
}
